body{
    font-family: sans-serif;
    overflow: hidden;
} 
  /* Preloader */ 
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
  }
  #status {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 206, 255, 1);

    /* centers the loading animation vertically one the screen */
    background-image: url("../images/loading/catload.gif");
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    /* is width and height divided by two */
  }
h1{
    text-align: center;
    color: forestgreen;
    margin: 30px;
}
.gallery{
    margin: 20px 10px;
    margin-left: 75px;
}
.gallery img{
    border-radius: 30px;
    width: 350px;
    height: 200px;
    padding: 20px;
    filter: grayscale(85%) opacity(80%);
    transition: .75s;
}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
